*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f2f2f2;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.chat-container{
    width:400px;
    background:white;
    border-radius:12px;
    box-shadow:0 0 15px rgba(0,0,0,0.2);
    overflow:hidden;
}

h1{
    background:#4f46e5;
    color:white;
    text-align:center;
    padding:15px;
}

#chat-box{
    height:400px;
    overflow-y:auto;
    padding:15px;
    background:#fafafa;
}

.message{
    padding:10px;
    margin:10px 0;
    border-radius:8px;
    max-width:75%;
}

.user{
    background:#4f46e5;
    color:white;
    margin-left:auto;
}

.ai{
    background:#e5e7eb;
    color:black;
}

.input-area{
    display:flex;
    padding:10px;
    border-top:1px solid #ddd;
}

input{
    flex:1;
    padding:10px;
    border:1px solid #ccc;
    border-radius:5px;
    outline:none;
}

button{
    margin-left:10px;
    padding:10px 20px;
    background:#4f46e5;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
}

button:hover{
    background:#4338ca;
}